html, body {
    height: 100%;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #01880f;
    color: #e6ffff;
    overflow: hidden;
    text-align: center;
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #DDCCEE;
    margin-top: 80px;
}

.container form {
    margin: 20px auto;
}

.container input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 2px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    width: 70px;
    height: 30px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(0, 120, 66);
}

.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 80px;
}

.message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}